<div class="greatest-achievements">
  <div class="header">Greatest Achievements</div>
  <ul>
    <% @achievements.each do |achievement| %>
      <li class="achievement">
        <%= achievement.description %><div class="links edit-link" data-achievement-id="<%= achievement.id %>">edit</div>
        <%= link_to "x", achievement_path(achievement), method: :delete, class: "links delete-link"%>
      </li>
      <li class="d-none form" data-achievement-id="<%= achievement.id %>"><%= render 'achievements/form', achievement: achievement %></li>
    <% end %>
  </ul>
  <div class="add-achievement">
    <%= render 'achievements/form', achievement: Achievement.new %>
  </div>
</div>
