<div class="org-card">
  <% if role_held.logo.attached? %>
    <div class="logo">
      <img/>
    </div>
  <% else %>
    <div class="logo">
      <img src="https://slcsolicitors.com/wp-content/uploads/2017/02/vendor-placeholder-logo.png"/>
    </div>
  <% end %>
  <div class="content">
    <p class="duration">
      <%= role_held.start_date.strftime("%^b %Y") %> - <%= role_held.end_date.strftime("%^b %Y") %>
    </p>
    <p class="position">
      <%= role_held.position.titleize %>
    </p>
    <p class="organisation-name">
      <%= role_held.organisation %>   
    </p>
    <div class="organisation-metrics">
      <span><p><%= role_held.sector %></p></span>
      <span><p><%= role_held.size %></p></span>
      <span><p><%= role_held.ownership %></p></span>
    </div>    
  </div>
  <div class="actions">
    <button class="edit">
      Edit
      <svg width="10" height="10" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 10.64V12.6666C0 12.8533 0.146667 13 0.333333 13H2.36C2.44667 13 2.53333 12.9666 2.59333 12.9L9.87333 5.62662L7.37333 3.12662L0.1 10.4C0.0333334 10.4666 0 10.5466 0 10.64ZM11.8067 3.69329C12.0667 3.43329 12.0667 3.01329 11.8067 2.75329L10.2467 1.19329C9.98667 0.933291 9.56667 0.933291 9.30667 1.19329L8.08667 2.41329L10.5867 4.91329L11.8067 3.69329Z" fill="white"/>
      </svg>
    </button>
    <button class="delete">
      <svg width="10" height="10" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V6C13 4.9 12.1 4 11 4H3C1.9 4 1 4.9 1 6V16ZM13 1H10.5L9.79 0.29C9.61 0.11 9.35 0 9.09 0H4.91C4.65 0 4.39 0.11 4.21 0.29L3.5 1H1C0.45 1 0 1.45 0 2C0 2.55 0.45 3 1 3H13C13.55 3 14 2.55 14 2C14 1.45 13.55 1 13 1Z" fill="#E42311"/>
      </svg>
    </button>
  </div>
</div>
