<div class="org-card">
  <%= role_held.start_date %> - <%= role_held.end_date %>
  <br>
  <%= role_held.position %>
  <br>
  <%= role_held.organisation %>   
  <br>     
  <%= role_held.sector %> - <%= role_held.size %> - <%= role_held.ownership %>
</div>
